/Unity/Game/Library
/Unity/Game/Logs
/Unity/Game/UserSettings
/UserScriptsCoding/Outputs
/Unity/Game/Temp
/Unity/Game/Assembly-CSharp.csproj
/Unity/Game/Assembly-CSharp-Editor.csproj
/Unity/Game/Game.sln
